<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">E-commerce</a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Products</h1>
            <div id="products-list" class="columns is-multiline">
                <!-- Products will be dynamically inserted here -->
            </div>
            <div class="mt-4">
                <a href="/" class="button is-light">Home</a>
            </div>
        </div>
    </section>
    <script src="main.js"></script>
</body>
</html>